@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("about.css");
@import url("regler.css");
@import url("login.css");
@import url("banor.css");
@import url("add.css");
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #204b45;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a,
html a,
body a {
  text-decoration: none;
}

* h1.hero-title,
html h1.hero-title,
body h1.hero-title {
  font-size: 3rem;
  font-weight: 700;
}

* h1,
html h1,
body h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

* h2,
html h2,
body h2 {
  font-size: 2rem;
  font-weight: 700;
}

* button,
* input[type='submit'],
* input[type='button'],
html button,
html input[type='submit'],
html input[type='button'],
body button,
body input[type='submit'],
body input[type='button'] {
  border: none;
  outline: none;
  cursor: pointer;
  background: #c9c9c9;
  padding: 0.7rem 1.6rem;
  border-radius: 100rem;
}

* i::before,
html i::before,
body i::before {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: -1.5rem;
  left: -1.25rem;
  border-radius: 50%;
  background-color: #cbf4ee;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.45s cubic-bezier(0.34, 2, 0.64, 1);
  transition: opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.45s cubic-bezier(0.34, 2, 0.64, 1);
  transition: opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1), transform 0.45s cubic-bezier(0.34, 2, 0.64, 1);
  transition: opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1), transform 0.45s cubic-bezier(0.34, 2, 0.64, 1), -webkit-transform 0.45s cubic-bezier(0.34, 2, 0.64, 1);
}

* i:hover::before,
html i:hover::before,
body i:hover::before {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  overflow-x: hidden;
}

section {
  padding: 4rem 3.5rem;
  max-width: 1400px !important;
  margin: auto;
}

section ::-webkit-scrollbar {
  display: none;
}

section.start {
  margin-top: 5rem !important;
}

section.start h1, section.start .img {
  margin-top: 0 !important;
}

header {
  max-width: 1400px !important;
  margin: auto;
  padding: 1.5rem 3.5rem;
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 1;
  background: transparent;
}

header.header-scroll {
  background: #f5f5f5;
}

header nav {
  background: transparent;
  width: 100%;
}

header nav ::-webkit-scrollbar {
  display: none;
}

header nav .wrappar-nav {
  display: none;
}

header nav .nav-wrappar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
}

header nav .nav-wrappar .logo-wrappar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-wrappar .logo-wrappar img.logo {
  width: 3rem;
}

header nav .nav-wrappar #admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 20rem;
  background: #e95e2a;
}

header nav .nav-wrappar #admin p,
header nav .nav-wrappar #admin ion-icon {
  font-size: 1rem !important;
  color: #fff;
}

header nav .nav-wrappar #admin p {
  margin-left: 0.3rem;
}

header nav .nav-wrappar span#nev-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

header nav .nav-wrappar i {
  width: 1.5rem;
  margin-left: 2rem;
  position: relative;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

header nav .nav-wrappar i span.icon-bar {
  content: '';
  display: block;
  margin-bottom: 0 !important;
  width: 100%;
  height: 3px;
  background-color: #058875;
  margin-bottom: 1rem;
}

header nav .nav-wrappar i span.icon-bar:nth-child(2) {
  margin-top: 0.55rem;
}

header nav .nav-wrappar i.active::before {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header nav .nav-wrappar i.active span.icon-bar:nth-child(1) {
  -webkit-transform: translate(0, 0.36875rem) rotate(45deg);
          transform: translate(0, 0.36875rem) rotate(45deg);
}

header nav .nav-wrappar i.active span.icon-bar:nth-child(2) {
  -webkit-transform: translate(0, -0.36875rem) rotate(-45deg);
          transform: translate(0, -0.36875rem) rotate(-45deg);
}

header nav .nav-body {
  position: absolute;
  max-width: 50%;
  min-height: 100vh;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #058875;
  padding: 0 5rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

header nav .nav-body.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header nav .nav-body ul {
  margin-top: 7rem;
  overflow-y: scroll;
}

header nav .nav-body ul li {
  list-style: none;
  background: inherit;
  margin-top: 1rem;
}

header nav .nav-body ul li a,
header nav .nav-body ul li span {
  font-size: 2.5rem;
  font-weight: 500;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  cursor: pointer;
  color: #fff;
}

header nav .nav-body .dropdown-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'header icon' 'dropdown dropdown';
  min-width: 13rem;
  margin-top: 1.5rem;
  curser: pointer;
}

header nav .nav-body .dropdown-container .dropdown-icon {
  font-size: 2rem;
  color: #fff;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon;
  margin-left: auto;
}

header nav .nav-body .dropdown-container .dropdown-icon.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header nav .nav-body .dropdown-container .dropdown {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: dropdown;
  margin-top: 0;
  display: none;
}

header nav .nav-body .dropdown-container .dropdown.open {
  display: block;
}

header nav .nav-body .dropdown-container .dropdown a {
  font-size: 1.9rem;
  margin-left: 2.5rem;
  font-weight: 400;
  color: #fff;
}

section.hero {
  max-width: 1400px !important;
  margin: auto;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.hero .hero-text {
  font-size: 1.4rem;
  max-width: 30rem;
  margin-top: 1.5rem;
}

section.hero p.button-header {
  margin-top: 2.5rem;
}

section.hero form {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #cbf4ee;
  border-radius: 10rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

section.hero form ion-icon {
  font-size: 1.8rem;
  margin-left: 1rem;
}

section.hero form p {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

section.hero form input {
  background: #204b45;
  color: #fff;
  margin-left: 1rem;
}

section.hero .img {
  background-image: url("img/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40rem;
  height: 30rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

section.news {
  max-width: 1400px !important;
  margin: auto;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

section.news h2 {
  margin-left: 3.5rem;
}

section.news .news-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}

section.news .news-container .news-item {
  background: #f5f5f5;
  border-radius: 1rem;
  padding: 1.6rem 2rem;
  max-width: 15rem;
  min-width: 14rem;
}

section.news .news-container .news-item:nth-child(1) {
  margin-left: 3.5rem !important;
}

section.news .news-container .news-item:nth-last-child(1) {
  margin-right: 3.5rem !important;
}

section.news .news-container .news-item .history {
  color: #627b77;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

section.news .news-container .news-item h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

section.news ion-icon {
  font-size: 1.8rem;
  color: #fff;
  padding: 0.6rem;
  background: #058875;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 54%;
  right: 5rem;
}

section.events {
  max-width: 1400px !important;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

section.events h2 {
  margin-left: 3.5rem;
}

section.events .events-container {
  margin-top: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}

section.events .events-container .events-item {
  background: #f5f5f5;
  border-radius: 1rem;
  padding: 1.6rem 2rem;
  max-width: 16rem;
  min-width: 16rem;
}

section.events .events-container .events-item:nth-child(1) {
  margin-left: 3.5rem !important;
}

section.events .events-container .events-item:nth-last-child(1) {
  margin-right: 3.5rem !important;
}

section.events .events-container .events-item .history {
  color: #627b77;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

section.events .events-container .events-item h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

section.events .events-container .events-item p {
  margin-top: 0.5rem;
}

section.events ion-icon {
  font-size: 1.8rem;
  color: #fff;
  padding: 0.6rem;
  background: #058875;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 5rem;
}

footer {
  background: #f5f5f5;
  padding: 2rem 3.5rem;
  color: #627b77 !important;
  margin-top: 5rem;
}

footer .footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  max-width: 1300px !important;
  margin: auto;
}

footer .footer-up .main {
  margin-right: 5rem;
}

footer .footer-up .main h2 {
  font-size: 1.7rem;
  max-width: 10rem;
  line-height: 2rem;
}

footer .footer-up .main .adress {
  margin-top: 1.5rem;
  color: #627b77;
}

footer .footer-up .main .email {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  color: #e95e2a;
}

footer .footer-up .main .phone {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #204b45;
}

footer .footer-up li {
  list-style: none;
}

footer .footer-up li span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #204b45;
}

footer .footer-up li .dropdown {
  margin-top: 0.5rem;
}

footer .footer-up li .dropdown li {
  margin-top: 0.5rem;
}

footer .footer-up li a {
  color: #627b77;
  font-size: 1.2rem;
}

footer .footer-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 3rem !important;
  max-width: 1300px !important;
  margin: auto;
}

footer .footer-down p {
  color: #627b77;
}

footer .footer-down::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #627b77;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 1.5rem;
}

@media (min-width: 1400px) {
  nav {
    max-width: 1400px;
    margin: auto;
  }
  nav .wrappar-nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .wrappar-nav .wrappar-nav-item {
    font-size: 1.2rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20rem;
  }
  nav .wrappar-nav .wrappar-nav-item:hover {
    background-color: #d3d3d3;
  }
  nav .wrappar-nav .wrappar-nav-item:hover .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .wrappar-nav .dropdown-container {
    cursor: pointer;
    position: relative;
  }
  nav .wrappar-nav .dropdown-container span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .wrappar-nav .dropdown-container span p {
    margin-right: 0.3rem;
    font-size: 1.2rem;
  }
  nav .wrappar-nav .dropdown-container span ion-icon {
    font-size: 1.2rem;
  }
  nav .wrappar-nav .dropdown {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 3rem;
    left: 0;
    background: #d8d8d8;
    padding: 1rem;
    border-radius: 1rem;
  }
  nav .wrappar-nav .dropdown a {
    background: #fff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 20rem;
  }
  nav .wrappar-nav .dropdown a:nth-child(1) {
    margin-top: 0;
  }
  nav .list-icon {
    display: none;
  }
}

@media (max-width: 1050px) {
  header {
    padding: 1rem 3.5rem;
  }
  header .logo {
    width: 3rem !important;
  }
  header input {
    padding: 0.5rem 1.4rem !important;
  }
  footer .footer-up li a {
    font-size: 1rem;
  }
  footer .adress {
    font-size: 0.9rem;
  }
  footer .email,
  footer .phone {
    font-size: 1.1rem !important;
  }
  footer .logo-footer {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 930px) {
  section.hero h1 {
    font-size: 2.5rem;
  }
  section.hero .hero-text {
    font-size: 1.2rem;
  }
  section.hero form ion-icon {
    font-size: 1.5rem;
  }
  section.hero form p,
  section.hero form input {
    font-size: 1rem;
  }
  section.hero form input {
    padding: 0.6rem 1rem;
    font-size: 0.9rem !important;
  }
  footer .footer-up {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    max-width: 30rem;
    gap: 2rem 1rem;
    margin: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  footer .footer-up li a {
    font-size: 1.1rem;
  }
  footer .footer-up .adress {
    font-size: 1rem;
  }
  footer .footer-up .email,
  footer .footer-up .phone {
    font-size: 1.3rem !important;
  }
  footer .footer-up .logo-footer {
    font-size: 1.5rem !important;
  }
  footer .footer-down p,
  footer .footer-down a {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 700px) {
  section.hero {
    background-image: url("img/hero.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
  }
  section.hero h1 {
    margin-top: 5rem;
    color: #fff;
  }
  section.hero .hero-text,
  section.hero p {
    color: #fff;
  }
  section.hero form {
    color: #fff;
    background: #204b45;
  }
  section.hero form p,
  section.hero form ion-icon {
    color: #fff;
  }
  section.hero form input {
    background: #058875;
  }
  section.hero .img {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer-down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-down::before {
    bottom: 2.7rem !important;
  }
  .footer-down .copyright {
    margin-bottom: 0.2rem;
  }
}

@media (max-width: 560px) {
  footer .footer-up {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 423px) {
  section.hero form ion-icon {
    font-size: 1.1rem;
  }
  section.hero form p,
  section.hero form input {
    font-size: 0.9rem;
  }
  section.hero form input {
    padding: 0.5rem 0.9rem;
    font-size: 0.8rem !important;
  }
  .footer-down::before {
    bottom: 3.7rem !important;
  }
}
/*# sourceMappingURL=style.css.map */