@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('about.css');
@import url('regler.css');
@import url('login.css');
@import url('banor.css');
@import url('add.css');

// ---- Root ----
$primary: #204b45;
$secondary: #e95e2a;
$green: #058875;
$green-light: #cbf4ee;
$gray: #627b77;
$gray-light: #f5f5f5;

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $primary;
  background: transparent;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }

  h1.hero-title {
    font-size: 3rem;
    font-weight: 700;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  button,
  input[type='submit'],
  input[type='button'] {
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(201, 201, 201);
    padding: 0.7rem 1.6rem;
    border-radius: 100rem;
  }

  i::before {
    content: '';
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: -1.5rem;
    left: -1.25rem;
    border-radius: 50%;
    background-color: $green-light;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1),
      transform 0.45s cubic-bezier(0.34, 2, 0.64, 1);
  }

  i:hover {
    &::before {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

body {
  overflow-x: hidden;
}

section {
  padding: 4rem 3.5rem;
  max-width: 1400px !important;
  margin: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  &.start {
    margin-top: 5rem !important;

    h1,
    .img {
      margin-top: 0 !important;
    }
  }
}

a[href^='mailto'] {
  color: $secondary;
  text-decoration: none;
}

ul.numbers {
  list-style: decimal;
}

// ---- Header ----

header {
  max-width: 1400px !important;
  margin: auto;
  padding: 1.5rem 3.5rem;
  // position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 1;
  background: transparent;

  &.header-scroll {
    background: $gray-light;
  }

  nav {
    background: transparent;
    width: 100%;

    ::-webkit-scrollbar {
      display: none;
    }

    .wrappar-nav {
      display: none;
    }

    .nav-wrappar {
      display: flex;
      justify-content: space-between;
      background: transparent;

      .logo-wrappar {
        display: flex;

        img.logo {
          width: 3rem;
        }
      }

      #admin {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 20rem;
        background: $secondary;

        p,
        ion-icon {
          font-size: 1rem !important;
          color: #fff;
        }

        p {
          margin-left: 0.3rem;
        }
      }

      span#nev-left {
        display: flex;
        align-items: center;
        background: transparent;
      }

      i {
        width: 1.5rem;
        margin-left: 2rem;
        position: relative;
        background: transparent;
        cursor: pointer;
        z-index: 2;

        span.icon-bar {
          content: '';
          display: block;
          margin-bottom: 0 !important;
          width: 100%;
          height: 3px;
          background-color: $green;
          margin-bottom: 1rem;

          &:nth-child(2) {
            margin-top: 0.55rem;
          }
        }

        &.active {
          &::before {
            opacity: 1;
            transform: scale(1.1);
          }

          span.icon-bar {
            &:nth-child(1) {
              transform: translate(0, (0.7375rem/2)) rotate(45deg);
            }

            &:nth-child(2) {
              transform: translate(0, (-0.7375rem/2)) rotate(-45deg);
            }
          }
        }
      }
    }

    .nav-body {
      position: absolute;
      // max-width: 50%;
      min-height: 100vh;
      padding-bottom: 5rem !important;
      right: 0;
      top: 0;
      z-index: 1;
      background-color: $green;
      padding: 0 5rem;
      transform: translateX(100%);
      transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1);

      &.open {
        transform: translateX(0);
      }

      ul {
        margin-top: 7rem;
        overflow-y: scroll;

        li {
          list-style: none;
          background: inherit;
          margin-top: 1rem;

          a,
          span {
            font-size: 2.5rem;
            font-weight: 500;
            grid-area: header;
            cursor: pointer;
            color: #fff;
          }
        }
      }

      .dropdown-container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          'header icon'
          'dropdown dropdown';
        min-width: 13rem;
        margin-top: 1.5rem;
        curser: pointer;

        .dropdown-icon {
          font-size: 2rem;
          color: #fff;
          position: relative;
          grid-area: icon;
          margin-left: auto;

          &.active {
            transform: rotate(180deg);
          }
        }

        .dropdown {
          grid-area: dropdown;
          margin-top: 0;
          display: none;

          &.open {
            display: block;
          }

          a {
            font-size: 1.9rem;
            margin-left: 2.5rem;
            font-weight: 400;
            color: #fff;
          }
        }
      }
    }
  }
}

// ---- Hero Section ----
section.hero {
  max-width: 1400px !important;
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0 !important;

  .hero-text {
    font-size: 1.4rem;
    max-width: 30rem;
    margin-top: 1.5rem;
  }

  p.button-header {
    margin-top: 2.5rem;
  }

  form {
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $green-light;
    border-radius: 10rem;
    padding: 0.5rem;
    margin-top: 0.5rem;

    ion-icon {
      font-size: 1.8rem;
      margin-left: 1rem;
    }

    p {
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }

    input {
      background: $primary;
      color: #fff;
      margin-left: 1rem;
    }
  }

  .img {
    background-image: url('../img/hero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40rem;
    height: 30rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
}

// ---- News Section ----
section.news {
  max-width: 1400px !important;
  margin: auto;
  position: relative;
  padding-left: 0;
  padding-right: 0;

  h2 {
    margin-left: 3.5rem;
  }

  .news-container {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;

    .news-item {
      background: $gray-light;
      border-radius: 1rem;
      padding: 1.6rem 2rem;
      max-width: 15rem;
      min-width: 14rem;

      &:nth-child(1) {
        margin-left: 3.5rem;
      }
      &:nth-last-child(1) {
        margin-right: 3.5rem;
      }

      .history {
        color: $gray;
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
      }
      h4 {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  ion-icon {
    font-size: 1.8rem;
    color: #fff;
    padding: 0.6rem;
    background: $green;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 54%;
    right: 5rem;
  }
}

// ---- Events Section ----
section.events {
  max-width: 1400px !important;
  margin: auto;
  padding-left: 0;
  padding-right: 0;

  h2 {
    margin-left: 3.5rem;
  }

  .events-container {
    margin-top: 2rem;
    position: relative;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;

    .events-item {
      background: $gray-light;
      border-radius: 1rem;
      padding: 1.6rem 2rem;
      max-width: 16rem;
      min-width: 16rem;

      &:nth-child(1) {
        margin-left: 3.5rem;
      }
      &:nth-last-child(1) {
        margin-right: 3.5rem;
      }

      .history {
        color: $gray;
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
      }
      h4 {
        font-size: 1.2rem;
        font-weight: 500;
      }

      p {
        margin-top: 0.5rem;
      }
    }
  }

  ion-icon {
    font-size: 1.8rem;
    color: #fff;
    padding: 0.6rem;
    background: $green;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 5rem;
  }
}

section.results {
  .tavlingar-cont {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .info {
    margin-top: 0.5rem;
    display: flex;

    p {
      font-weight: 500;

      &:nth-child(1) {
        margin-right: 1rem;
      }
    }
  }

  .results-container {
    margin-top: 1.5rem;
    display: flex;

    .result {
      background: $gray-light;
      padding: 1rem 1.5rem;
      border-radius: 1rem;

      h4 {
        font-weight: 500;
      }

      &:nth-child(1) {
        margin-right: 1rem;
      }
    }
  }

  .summary {
    margin-top: 1.5rem;
    max-width: 30rem;
  }

  .tavling-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 50%;

    img {
      max-width: 15rem;
    }
  }
}
// ---- Footer ----
footer {
  background: $gray-light;
  padding: 2rem 3.5rem;
  color: $gray !important;
  margin-top: 5rem;

  .footer-up {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    max-width: 1300px !important;
    margin: auto;

    .main {
      margin-right: 5rem;

      h2 {
        font-size: 1.7rem;
        max-width: 10rem;
        line-height: 2rem;
      }

      .adress {
        margin-top: 1.5rem;
        color: $gray;
      }

      .email {
        margin-top: 0.7rem;
        color: $secondary;

        a {
          font-size: 1.2rem;
        }
      }

      .phone {
        margin-top: 0.5rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: $primary;
      }
    }

    li {
      list-style: none;

      span {
        font-size: 1.4rem;
        font-weight: 600;
        color: $primary;
      }

      .dropdown {
        margin-top: 0.5rem;

        li {
          margin-top: 0.5rem;
        }
      }

      a {
        color: $gray;
        font-size: 1.2rem;
      }
    }
  }

  .footer-down {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 3rem !important;
    max-width: 1300px !important;
    margin: auto;

    p {
      color: $gray;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $gray;
      margin-bottom: 1rem;
      position: absolute;
      bottom: 1.5rem;
    }
  }
}

// ---- Media Queries ----
@media (min-width: 1400px) {
  nav {
    max-width: 1400px;
    margin: auto;

    .wrappar-nav {
      display: flex !important;
      align-items: center;

      .wrappar-nav-item {
        font-size: 1.2rem;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 20rem;

        &:hover {
          background-color: #d3d3d3;

          .dropdown {
            display: flex;
          }
        }
      }

      .dropdown-container {
        cursor: pointer;
        position: relative;

        span {
          display: flex;
          align-items: center;

          p {
            margin-right: 0.3rem;
            font-size: 1.2rem;
          }

          ion-icon {
            font-size: 1.2rem;
          }
        }
      }

      .dropdown {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 3rem;
        left: 0;
        background: #d8d8d8;
        padding: 1rem;
        border-radius: 1rem;

        a {
          background: #fff;
          padding: 0.5rem 1rem;
          margin-top: 1rem;
          font-size: 1rem;
          border-radius: 20rem;

          &:nth-child(1) {
            margin-top: 0;
          }
        }
      }
    }

    .list-icon {
      display: none;
    }
  }
}

@media (max-width: 1050px) {
  header {
    padding: 1rem 3.5rem;

    .logo {
      width: 3rem !important;
    }

    input {
      padding: 0.5rem 1.4rem !important;
    }
  }

  footer {
    .footer-up li a {
      font-size: 1rem;
    }

    .adress {
      font-size: 0.9rem;
    }

    .email,
    .phone {
      font-size: 1.1rem !important;
    }

    .logo-footer {
      font-size: 1.5rem !important;
    }
  }
}

@media (max-width: 930px) {
  section.hero {
    h1 {
      font-size: 2.5rem;
    }
    .hero-text {
      font-size: 1.2rem;
    }

    form {
      ion-icon {
        font-size: 1.5rem;
      }

      p,
      input {
        font-size: 1rem;
      }

      input {
        padding: 0.6rem 1rem;
        font-size: 0.9rem !important;
      }
    }
  }

  footer {
    .footer-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: end;
      max-width: 30rem;
      gap: 2rem 1rem;
      margin: auto;
      margin-top: 1rem;
      padding-bottom: 1rem;

      li a {
        font-size: 1.1rem;
      }

      .adress {
        font-size: 1rem;
      }

      .email,
      .phone {
        font-size: 1.3rem !important;
      }

      .logo-footer {
        font-size: 1.5rem !important;
      }
    }

    .footer-down {
      p,
      a {
        font-size: 0.9rem !important;
      }
    }
  }
}

@media (max-width: 700px) {
  section {
    max-width: 100% !important;
  }

  section.index-hero {
    background-image: url('../img/hero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;

    h1 {
      margin-top: 5rem;
      color: #fff;
    }

    .hero-text,
    p {
      color: #fff;
    }

    form {
      color: #fff;
      background: $primary;

      p,
      ion-icon {
        color: #fff;
      }

      input {
        background: $green;
      }
    }

    .img {
      display: none;
    }
  }

  .content {
    display: none;
  }

  .nav-body {
    position: absolute;
    // max-width: 100% !important;
    min-height: 100vh;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: $green;
    padding: 0 5rem;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1);

    &.open {
      transform: translateX(0);
    }

    ul {
      margin-top: 7rem;
      overflow-y: scroll;

      li {
        list-style: none;
        background: inherit;
        margin-top: 1rem;

        a,
        span {
          font-size: 2.5rem;
          font-weight: 500;
          grid-area: header;
          cursor: pointer;
          color: #fff;
        }
      }
    }

    .dropdown-container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'header icon'
        'dropdown dropdown';
      min-width: 13rem;
      margin-top: 1.5rem;
      curser: pointer;

      .dropdown-icon {
        font-size: 2rem;
        color: #fff;
        position: relative;
        grid-area: icon;
        margin-left: auto;

        &.active {
          transform: rotate(180deg);
        }
      }

      .dropdown {
        grid-area: dropdown;
        margin-top: 0;
        display: none;

        &.open {
          display: block;
        }

        a {
          font-size: 1.9rem;
          margin-left: 2.5rem;
          font-weight: 400;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    padding: 1rem 1.5rem;

    .nav-body {
      padding: 0 2rem !important;
    }
  }

  footer {
    padding: 2rem 1.5rem !important;
  }

  section {
    padding: 4rem 1.5rem !important;
  }

  h2,
  .events-item:nth-child(1) {
    margin-left: 0rem !important;
  }

  .events-item:nth-last-child(1) {
    margin-right: 0rem !important;
  }

  .footer-down {
    flex-direction: column;

    &::before {
      bottom: 2.7rem !important;
    }

    .copyright {
      margin-bottom: 0.2rem;
    }
  }
}

@media (max-width: 560px) {
  .nav-body {
    width: 100%;
  }

  footer {
    .footer-up {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 423px) {
  section.hero {
    form {
      ion-icon {
        font-size: 1.1rem;
      }

      p,
      input {
        font-size: 0.9rem;
      }

      input {
        padding: 0.5rem 0.9rem;
        font-size: 0.8rem !important;
      }
    }
  }

  .result {
    padding: 0.5rem 1rem !important;

    h4 {
      font-size: 1rem !important;
    }

    p {
      font-size: 0.9rem !important;
    }
  }

  .footer-down::before {
    bottom: 3.7rem !important;
  }
}
